.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

.streamlit/secrets.toml

data/raw_html/
data/clean_text/
data/metadata/
data/financials/
data/exports/
data/pdf/
logs/

.DS_Store
Thumbs.db
